<div class="control-group">
  <div class="controls">
    <%= f.text_field :descricao, placeholder: "Descrição", class: "text_field input-large" %>
    <%= f.link_to_remove "&times;".html_safe %>
  </div>
</div>
